*

!.gitignore
!*.ino
!*.cpp
!*.h
!*.py
!*.tpl
!Makefile
!arduino
!arduino/roomsign
!arduino/templates
!arduino/rfid_servo
!server
!rpi
!common

arduino/roomsign/imagedata.cpp
arduino/roomsign/font*.cpp
secret.py
server_secret.py
