*

!.gitignore
!*.ino
!*.cpp
!*.h
!*.py
!*.tpl
!Makefile
!arduino
!arduino/epaper
!arduino/templates
!arduino/rfid_servo
!rpi
!common

arduino/epaper/imagedata.cpp
arduino/epaper/font*.cpp
arduino/epaper/request.h
